/* Theme */
:root {
  // dark
  --dark-bg1: #101828;
  --dark-bg2: #1d2939;
  // light
  --light-bg1: #eee;
  --light-bg2: #bbb;
}

@mixin custome-theme($v) {
  .theme {
    &__#{$v} {
      .--bg1 {
        background-color: var(--#{$v}-bg1);
      }

      .--bg2 {
        background-color: var(--#{$v}-bg2);
      }
    }
  }
}

@include custome-theme('dark');
@include custome-theme('light');
